body {
    margin: 0;
    padding: 0;
    font: 62.5%/18px Arial;
    background-color: #eee;
    height: 1000px;
}
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #aaa;
    display: flex;
    justify-content: center;
    z-index: 99;
    border-bottom: 3px solid salmon;
}
/* logo */
.logo {
    cursor: pointer;
}
/* nav */
nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    width: 40%;
    justify-content: space-between;
}
nav ul li {
    list-style: none;
   
}
nav ul li a:hover {
    background-color: white;
    color: black;
    border-color: salmon;
}
nav ul li a {
    text-decoration: none;
    color: #eaeaea;
    border: 1px solid blue;
    padding: 5px 10px;
    border-radius: 5px;
}
/* Main */
.main {
    margin: auto;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.main .hero {
    max-width: 80%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}
.main .hero section {
    display: flex;
    flex-direction: column;
    padding: 1rem 9rem;
}
.main .hero section h2 {
    font-size: 2.5rem;
    line-height: 40px;
}
.main .hero section p {
    font-size: .8rem;
}
.main .img-hero {
    padding: 3rem;
}
.main .img-hero img {
    border-radius: 50%;
}
/* Mys skill */
section.skill {
    border: 1px solid black;
}
section.skill h2 {
    font-size: 3rem;
    text-align: center;
}