// Font google Oswald
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
// Mixin
@mixin grid_template ($gtc: 1fr, $gtr: 1fr){
    display: grid;
    grid-template-columns: $gtc;
    grid-template-rows: $gtr;
}

:root {
    font: 62.5%/18px "Oswald";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 4000px;
}
.header {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px;
    width: 100vw;
    background-color: white;
    nav {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        justify-items: space-evenly;
        align-items: center;
        border-bottom: 3px solid black;
        .logo {
            justify-self: center;
            h1 {
                font-size: 1.8rem;
            }
        }
        .sign {
            width: 20vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: start;
            li {
                list-style: none;
                a {
                    text-align: center;
                    display: block;
                    text-decoration: none;
                    font-size: 1.6rem;
                    color: white;
                    background-color: black;
                    padding: 0 30px;
                }
                a:hover {
                    background-color: white;
                    color: black;
                    padding: 0 30px;
                }
            }
        }
        .navigasi {
            width: 50vw;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            justify-items: center;
            grid-auto-flow: column;
            justify-content: space-between;
            li {
                list-style: none;
                a {
                    display: block;
                    text-decoration: none;
                    font-size: 1.6rem;
                    color: white;
                    background-color: black;
                    padding: 0 30px;
                
                a:hover {
                    background-color: white;
                    color: black;
                    padding: 0 30px;
                }
            }
        }
    }
}
}

main {
    margin-top: 40px;
    @include grid_template(1fr 2fr, calc(100vh - 40px));
    border-bottom: 5px solid black;
    .hero-img {
        grid-column: 1 / 2;
        // grid-row: -2 / 3;
        grid-row: 1 / 2;
        img {
            width: 100%;
            height: 100%;
        }
    }
    section {
        grid-column: 2 / 3;
    }
    .vidio-container {
        @include grid_template(1fr 1fr, calc(100vh - 40px));
    }
    .vidio-1,
    .vidio-2 {
        width: 100%;
        height: 100%;
    }
}

article {
    padding-top: 50px;
    font-family: serif;
    header {
        h1 {
            margin-top: 40px;
            font-family: sans-serif;
            text-align: center;
            font-size: 2.7rem;
        }
        p {
            margin-top: 15px;
            text-align: center;
            q {
                font-size: 1.8rem;;
            }
        }
    }
    section {
        margin: 30px auto;
        h2 {
            font-family: sans-serif;
            text-align: center;
            font-size: 2.4rem;
        }
        p {
            margin: 10px auto;
            font-size: 2rem;
            line-height: 3rem;
            width: 95vw;
            border: 1px solid #333;
            padding: 8px 12px;
        }
    }
}
figure {
    padding-top: 50px;
    h1 {
        text-align: center;
    }
    .gallery {
        width: 80vw;
        box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5);
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:  repeat(3, 1fr);
        grid-auto-flow: row;
        gap: 5px;
        img {
            width: 100%;
        }
        img:nth-child(9) {
            height: 100%;
        }
    }
}
